<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBiJr5zgCCo-thtMJxSPeB-S6r1Q0Jz0OU</string>
	<key>GCM_SENDER_ID</key>
	<string>366762952609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EOA-industry.ThreadsClone</string>
	<key>PROJECT_ID</key>
	<string>threads-app-2a258</string>
	<key>STORAGE_BUCKET</key>
	<string>threads-app-2a258.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366762952609:ios:be56eaf8ecf0d58369ade0</string>
</dict>
</plist>